.logged-in-wrapper {
  flex-grow: 1;
  min-height: 100dvh;
  position: relative;

  &__content {
    padding-top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container {
    margin: 0 auto;
    padding: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1601px) and (max-width: 1920px) {
  .logged-in-wrapper {
    &__content {
      padding-top: 100px;
    }
  }
}
@media screen and (min-width: 1171px) and (max-width: 1600px) {
  .logged-in-wrapper {
    &__content {
      padding-top: 80px;
    }
  }
}
@media screen and (min-width: 971px) and (max-width: 1170px) {
  .logged-in-wrapper {
    &__content {
      padding-top: 80px;
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 970px) {
  .logged-in-wrapper {
    &__content {
      padding-top: 40px;
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .logged-in-wrapper {
    &__content {
      padding-top: 40px;
    }
  }
}
