.contract-actions {
  width: 100%;
  border: 1px solid #878787;
  padding: 20px;

  &__table {
    width: 100%;

    th {
      text-align: left;
      color: var(--text-secondary);
      font-size: 20px;
      font-weight: 400;
    }
  }

  &__button {
    background: #091025;
    border: 1px solid #274ac9;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    width: 260px;
    color: #274ac9;

    &:hover {
      background: #274ac9;
      color: #091025;
    }

    &:hover:not(:disabled) {
      background: #274ac9;
      color: #091025;
    }
  }
}
