.support-page {
  width: 100%;
  padding: 0 20px;

  &__title {
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 40px;
    letter-spacing: 1px;
  }

  &__content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
