.sidebar {
  max-width: 300px;
  height: 100dvh;

  &__content {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 170px 50px 50px 50px;

    &-bottom {
      display: flex;
      flex-flow: column;
      justify-content: center;
      gap: 38px;
    }
  }

  &__links {
    list-style: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 5px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 22px;
    cursor: pointer;
    color: var(--text-secondary);
    transition: all 0.3s;

    a {
      display: flex;
      align-items: center;
      gap: 5px;
      text-decoration: none;
    }

    svg {
      path {
        transition: all 0.3s;
      }
    }

    &--active {
      color: white;

      svg {
        path {
          fill: white;
        }
      }
    }

    &:hover {
      color: white;

      svg {
        path {
          fill: white;
        }
      }
    }
  }
}

@media screen and (min-width: 1601px) and (max-width: 1920px) {
  .sidebar {
    max-width: 300px;

    &__content {
      padding: 140px 50px 50px 50px;

      &-bottom {
        gap: 25px;
      }
    }

    &__links {
      gap: 5px;
    }

    &__link {
      gap: 5px;
      font-size: 18px;

      a {
        gap: 5px;
      }
    }
  }
}
@media screen and (min-width: 1171px) and (max-width: 1600px) {
  .sidebar {
    max-width: 300px;

    &__content {
      padding: 120px 40px 40px 40px;

      &-bottom {
        gap: 25px;
      }
    }

    &__links {
      gap: 5px;
    }

    &__link {
      gap: 5px;
      font-size: 16px;

      a {
        gap: 5px;
      }
    }
  }
}
@media screen and (min-width: 971px) and (max-width: 1170px) {
  .sidebar {
    max-width: 300px;

    &__content {
      padding: 115px 30px 30px 30px;

      &-bottom {
        gap: 25px;
      }
    }

    &__links {
      gap: 5px;
    }

    &__link {
      gap: 5px;
      font-size: 16px;

      a {
        gap: 5px;
      }
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 970px) {
  .sidebar {
    display: none;
  }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .sidebar {
    display: none;
  }
}
